/*-------------------------------  Defs & Sys  ------------------------------------*/

body {
    position: relative;
    min-width: 980px;
    font-size: 14px;
    line-height: 1.6em;
    color: #000;
    background: #fff;
    -webkit-font-smoothing: antialiased;
}

body,
button,
input,
select,
textarea {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: underline;
    color: #3395de;
}

a:focus,
a:hover {
    text-decoration: underline;
    color: #3baa96;
}

a:hover {
    text-decoration: underline;
    color: #3baa96;
}

.links1, .links2{
    color:#3395de;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    text-decoration: none !important;
}

.links1:hover, .links2:hover{
    color:#3baa96;
    border-color:#3baa96;
}

.links2{
    border-bottom: 1px dotted #3395de;
}

.links1{
    border-bottom: 1px solid #3395de;
}

a[href^="http"],
a[href^="www."] {
    cursor: pointer;
    cursor: alias;
}

.wPagination {
    margin: 25px 0;
}

.wPagination a {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    color:#556270;
    border:1px solid #dedede;
    width: 30px;
    height: 30px;
    line-height: 30px;
    box-sizing:border-box;
}

.wPagination a.curr{
    background:#3baa96;
    border:1px solid #3baa96;
    color:#fff;
}

.wPagination a.curr:hover{
    background:#3baa96;
    border:1px solid #3baa96;
    color:#fff;
}

.wPagination a:hover{
    background:#f2f2f2;
}

.wPagination a.nextP, a.backP{
    width: 74px;
}

.tac {
    text-align: center;
}

.tar {
    text-align: right;
}

.tal {
    text-align: left;
}

.fll {
    float: left;
}

.flr {
    float: right;
}

.cls {
    font-size: 0;
    display: table;
    width: 100%;
}

.ovh {
    overflow: hidden;
}

.clear {
    clear: both;
}

.blank {
    height: 25px;
}

.clearFix:after,
.wSize:after,
.wTxt:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
}

.svgHolder {
    position: relative;
}

.svgHolder > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.link-dotted {
    border-bottom: 1px dotted #3395de;
    text-decoration: none !important;
}

.link-dotted:hover {
    border-bottom: 1px dotted #3baa96;
}

/*-------------------------------  conteiner  ------------------------------------*/

.wWrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.wSize {
    max-width: 980px;
    padding: 0 5px;
    margin: 0 auto;
    position: relative;
}

.wConteiner {
    padding: 50px 0 140px 0;
    position: relative;
}

/*-------------------------------  wHeader  ------------------------------------*/

.wHeader {
    position: relative;
}


/*-------------------------------  wConteiner  ------------------------------------*/


/*-------------------------------  wLeft  ------------------------------------*/

.wLeft {
    position: relative;
    float: left;
}


/*-------------------------------  wRight  ------------------------------------*/

.wRight {
    position: relative;
    float: right;
}


/*-------------------------------  wMiddle  ------------------------------------*/

.wLeft + .wMiddle,
.wRight + .wMiddle {
    position: relative;
    overflow: hidden;
}

.wMiddle {
    margin-bottom: 20px;
}


/*-------------------------------  wFooter  ------------------------------------*/

.wFooter {
    
}


/*-------------------------------  breadcrumbs  ------------------------------------*/

.breadcrumbs {
    width: 100%;
    display: table;
    font-size: 0;
    line-height: 0;
    margin-bottom: 15px;
}

.breadcrumbs > span {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 18px;
    margin-right: 7px;
    color: #000;
}

.breadcrumbs > span:before {
    content: '›';
    display: inline-block;
    vertical-align: top;
    margin-right: 7px;
}

.breadcrumbs > span:first-child:before {
    display: none;
}

.breadcrumbs > span > a {
    text-decoration: underline;
}

/*-------------------------------  wTxt  ------------------------------------*/

.wTxt {
    position: relative;
    color: #7e8c9c;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 13px;
    line-height: 1.8em;
    text-transform: none;
    text-decoration: none;
}

.wTxt a {
    color: #3395de;
    text-decoration: underline;
}

.wTxt a:hover {
    text-decoration: underline;
    color: #3baa96;
}

.wTxt a:active {
    text-decoration: underline;
    color: #3baa96;
}

.wTxt h1:before,
.wTxt h2:before,
.wTxt h3:before,
.wTxt h4:before,
.wTxt h5:before,
.wTxt h6:before {
    content: '';
    display: block;
    clear: both;
    height: 0;
}

.wTxt h1,
.wTxt h2,
.wTxt h3,
.wTxt h4,
.wTxt h5,
.wTxt h6,
.wTxt ul,
.wTxt ol,
.wTxt dl,
.wTxt pre,
.wTxt p,
.wTxt blockquote,
.wTxt table,
.wTxt blockquote {
    margin: 1em 0px;
}

.wTxt p {
    margin: 1em 0 2em 0;
}

.wTxt h1,
.wTxt h2,
.wTxt h3,
.wTxt h4,
.wTxt h5,
.wTxt h6,
.h1T,
.h2T,
.h3T,
.h4T,
.h5T,
.h6T {
    font-family: Arial, sans-serif;
    color: #556270;
    font-weight: bold;
    line-height: 1.2;
}

.wTxt h1, 
.h1T {
    font-size: 30px;
    margin: 20px 0;
}

.wTxt h2,
.h2T {
    font-size: 25px;
    line-height: 1.2em;
    margin: 10px 0 15px 0;
}

.wTxt h3,
.h3T {
    font-size: 20px;
    line-height: 1.2em;
    margin: 15px 0;
}

.wTxt h4,
.h4T {
    font-size: 18px;
    line-height: 1.2em;
}

.wTxt h5,
.h5T {
    font-size: 16px;
    line-height: 1.2em;
}

.wTxt h6,
.h6T {
    font-size: 14px;
    line-height: 1.2em;
}

.wTxt h1:first-child,
.wTxt h3:first-child,
.wTxt h4:first-child,
.wTxt h5:first-child,
.wTxt h6:first-child,
.h1T:first-child,
.h3T:first-child,
.h4T:first-child,
.h5T:first-child,
.h6T:first-child {
    margin-top: 0;
}

.wTxt h1 a,
.wTxt h2 a,
.wTxt h3 a,
.wTxt h4 a,
.wTxt h5 a,
.wTxt h6 a,
.h1T a,
.h2T a,
.h3T a,
.h4T a,
.h5T a,
.h6T a {
    text-decoration: none !important;
}

.wTxt code,
.wTxt kbd,
.wTxt samp {
    line-height: 1.3em;
    display: inline-block;
    vertical-align: top;
    padding: 0 5px;
    border-radius: 3px;
}

.wTxt code {
    color: red;
}

.wTxt kbd {
    color: blue;
}

.wTxt samp {
    color: #009e00;
}

.wTxt pre {
    padding: 15px;
    border-radius: 5px;
}

.wTxt code,
.wTxt kbd,
.wTxt pre,
.wTxt samp {
    background: #efefef;
    border: 1px solid #ccc;
}

.wTxt blockquote {
    padding: 5px 20px;
    font-style: italic;
}

.wTxt ul,
.wTxt ol,
.wTxt dl {
    margin: 1em 0 1em 1em;
}

.wTxt li {
    list-style-type: disc;
    list-style-position: inside;
}

.wTxt ol li {
    list-style-type: decimal;
    list-style-position: inside;
}

.wTxt dl dt {
    font-style: italic;
}

.wTxt table {
    width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    border-bottom: 1px solid #333;
    border-left: 1px solid #333;
    width: 100%;
    margin: 10px 0 20px;
}

.wTxt table th,
.wTxt table td {
    padding: 10px;
    line-height: 1em;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #333;
    border-right: 1px solid #333;
}

.wTxt table th {
    font-weight: bold;
    background: #eee;
}

.wTxt table.table-null,
.wTxt table.table-null th,
.wTxt table.table-null td {
    border-color: transparent;
}

.wTxt table.table-zebra,
.wTxt table.table-zebra th,
.wTxt table.table-zebra td {
    border-color: transparent;
}

.wTxt table.table-zebra tr:nth-child(even) {
    background: #ddd;
}

.iframeHolder {
    width: 100%;
    position: relative;
    padding-top: 56.25%;
}

.iframeHolder.ratio_56 {
    padding-top: 56.25%;
}

.iframeHolder.ratio_75 {
    padding-top: 75%;
}

.iframeHolder > iframe {
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.seoTxt h1 {
    font-size: 25px;
}

/*-------------------------------  wBtns  ------------------------------------*/

.wBtn {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: auto;
    font-size: 14px;
    height: 29px;
    line-height: 30px;
    border: none;
    padding: 0 15px;
    margin-bottom: 5px;
    cursor: pointer;
    color: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    background:#556270;
    text-decoration: none !important;
}

.wBtn:hover {
    color: #fff;
    background-color: #3baa96;
}

.wBtn:active {
    color: #fff;
    background:#3a9685;
}

.wBtn > .svgHolder {
    margin: -1px 4px 0;
    text-decoration: none !important;
    display: inline-block;
    vertical-align: middle;
    height: 12px;
    width: 15px;
}

.wBtn > .svgHolder > svg {
    fill: #666;
}

.wBtn:hover > .svgHolder > svg {
    fill: #222;
}

.wBtn:active > .svgHolder > svg {
    fill: #222;
}


/* lg */

.wBtn.lg {
    font-size: 14px;
    height: 39px;
    background-color: #3baa96;
    box-shadow: 0 3px 0 #2c7f70;
    line-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.wBtn.lg:hover{
    background-color: #43b8a3;
}

.wBtn.lg:active{
    color:rgba(255,255,255,0.7);
}

.wBtn.lg > .svgHolder {
    margin-left: 6px;
    margin-right: 6px;
    height: 20px;
    width: 20px;
}

.wFormSearch .wSubmit.wBtn.lg {
    padding-left: 10px;
    padding-right: 10px;
}


/* primary */

.wBtn.primary {
    color: #fff;
    text-shadow: none;
    background: #556270;
    box-shadow: 0 3px 0 #025980;
    text-transform: uppercase;
}

.wBtn.primary:hover {
    background: #3baa96;
}

.wBtn.primary:active {
    background:#3a9685;
}

.wBtn.primary > .svgHolder > svg {
    fill: #fff;
}


/* succes */

.wBtn.succes {
    color: #fff;
    text-shadow: none;
    background: #66a427;
    box-shadow: 0 3px 0 #47721b;
}

.wBtn.succes:hover {
    background: #78BE30;
}

.wBtn.succes:active {
    box-shadow: inset 0 -2px 5px rgba(255, 255, 255, 0.6), inset 0 2px 3px rgba(0, 0, 0, 0.4), 0 2px 0 #47721b;
}

.wBtn.succes > .svgHolder > svg {
    fill: #fff;
}


/* info */

.wBtn.info {
    color: #fff;
    text-shadow: none;
    background: #53ABFF;
    box-shadow: 0 3px 0 #2974BB;
}

.wBtn.info:hover {
    background: #74BBFF;
}

.wBtn.info:active {
    box-shadow: inset 0 -2px 5px rgba(255, 255, 255, 0.6), inset 0 2px 3px rgba(0, 0, 0, 0.4), 0 2px 0 #2974BB;
}

.wBtn.info > .svgHolder > svg {
    fill: #fff;
}


/* warning */

.wBtn.warning {
    color: #fff;
    text-shadow: none;
    background: #25CE25;
    box-shadow: 0 3px 0 #209820;
}

.wBtn.warning:hover {
    background: #4ADB4A;
}

.wBtn.warning:active {
    box-shadow: inset 0 -2px 5px rgba(255, 255, 255, 0.6), inset 0 2px 3px rgba(0, 0, 0, 0.4), 0 2px 0 #209820;
}

.wBtn.warning > .svgHolder > svg {
    fill: #fff;
}


/* danger */

.wBtn.danger {
    color: #fff;
    text-shadow: none;
    background: #eb1f27;
    box-shadow: 0 3px 0 #a4161b;
}

.wBtn.danger:hover {
    background: #EB4F1F;
}

.wBtn.danger:active {
    box-shadow: inset 0 -2px 5px rgba(255, 255, 255, 0.6), inset 0 2px 3px rgba(0, 0, 0, 0.4), 0 2px 0 #a4161b;
}

.wBtn.danger > .svgHolder > svg {
    fill: #fff;
}


/*  grid 
--------------------------------------------------------------------------*/

.grid-row {
    position: relative;
    margin: 0 -15px;
}

.grid-row:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
}

/* двухколоночная сетка */
.grid-col-1-2 {
    width: 50%;
}

/* трехколоночная сетка */

.grid-col-1-3 {
    width: 33.3333%;
}

.grid-col-2-3 {
    width: 66.6666%;
}

/* четырехколоночная сетка */

.grid-col-1-4 {
    width: 25%;
}

.grid-col-2-4 {
    width: 50%;
}

.grid-col-3-4 {
    width: 75%;
}

/* пятиколоночная сетка */

.grid-col-1-5 {
    width: 20%;
}

.grid-col-2-5 {
    width: 40%;
}

.grid-col-3-5 {
    width: 60%;
}

.grid-col-4-5 {
    width: 80%;
}

/* шестиколоночная сетка */

.grid-col-1-6 {
    width: 16.6666%;
}

.grid-col-2-6 {
    width: 33.3333%;
}

.grid-col-3-6 {
    width: 50%;
}

.grid-col-4-6 {
    width: 66.6666%;
}

.grid-col-5-6 {
    width: 83.3333%;
}

/* all cols */

.grid-col-1-2,
.grid-col-1-3, .grid-col-2-3,
.grid-col-1-4, .grid-col-2-4, .grid-col-3-4,
.grid-col-1-5, .grid-col-2-5, .grid-col-3-5, .grid-col-4-5,
.grid-col-1-6, .grid-col-2-6, .grid-col-3-6, .grid-col-4-6, .grid-col-5-6 {
    float: left;
    padding: 0 15px;
    box-sizing: border-box;
}

/* print
------------------------------------------------------------------------*/


@media print {
    .wHeader {
        display: none;
    }

    .wFooter {
        display: none;
    }

    .seoTxt {
        max-height: 2000px;
        overflow: visible;
    }

    .category-block {
        display: none;
    }

    .sale-filter-block-wrap {
        display: none;
    }

    .mainpage-banner-block {
        display: none;
    }

    .localinfo-find_row {
        display: none;
    }

    .list-sidebar {
        display: none;
    }

    .content-banner {
        display: none;
    }

    .list-sorting {
        display: none;
    }

    .grid-row.loc-pages{
        display: none;
    }

    .carous_wrap.loc-page-sl{
        display: none;
    }

    .wConteiner.proffiContainer.loc-print{
        padding-top:0;
    }
}

